<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
</head>

<body>
    {{> header}}

    <h1>{{message}}</h1>
    <p>User Information:</p>
    <ul>
        <li>Name: {{user.name}}</li>
        <li>Age: {{user.age}}</li>
    </ul>
    
    <div>
        <form action="/profile" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" required>
            <input type="submit" value="Upload">
        </form>
    </div>

    <!-- Image display section -->
    {{#if imageUrl}}
    <div>
        <h2>Uploaded Profile Image:</h2>
        <img src="{{imageUrl}}" alt="Profile Image" style="max-width: 200px; max-height: 200px;">
    </div>
    {{/if}}
    
</body>

</html>
